
<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href = "../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- <script src="pointless-square.js"></script> -->

  </head>
  
  <body>
    
    <div class="header-section">
      <div class="container">
        <div class="row">       
          <div class="twelve columns">
            <h1 class="title">Cube user registration</h1>
          </div>
        </div>
      </div>     
    </div>

    <div class="user-form-section">
      <form>
        <div class="row">
          <div class="offset-by-two four columns">
            <label for="name">Name</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
          <div class="four columns">
            <label for="exampleEmailInput">Your email</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
          <div class="two columns"></div>
        </div>

        <div class="row">
          <div class="offset-by-two ten columns">    
            <input class="button-primary" type="submit" value="Submit">
          </div>
        </div>
      </form>
      
    </div>  


  </body>
</html>