
<!DOCTYPE html>
<html>
  <head>
    <title>Select Cube</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href = "../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- <script src="pointless-square.js"></script> -->

  </head>
  
  <body>
    
    <div class="header-section">
      <div class="container">
        <div class="row">       
          <div class="twelve columns">
            <h1 class="title">Select a cube</h1>
          </div>
        </div>
      </div>     
    </div>

    <div class ="sub-header-section">
      <div class="container">
          <div class="row">       
              <div class="twelve columns">
                <h2 class="title">Predefined cubes</h2>
              </div>  
          </div>          
      </div>
    </div>  

    <div class="list-cubes blog-nav">
      <div class="container">

        <div class ="row">
          <div class="one-third column value" class="cube-image">
            <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
          </div>
          <div class="one-third column value" class="cube-name">
            <h3>Cube of sorrows</h3>  
          </div>
          <div class="one-third column value" class="cube-rating">
            <h3>***</h3>
          </div> 
        </div> 

        <div class ="row">
          <div class="one-third column value" class="cube-image">
            <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
          </div>
          <div class="one-third column value" class="cube-name">
            <h3>Cube of relaxation</h3>  
          </div>
          <div class="one-third column value" class="cube-rating">
            <h3>***</h3>
          </div>
        </div>   

        <div class ="row">
          <div class="one-third column value" class="cube-image">
            <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
          </div>
          <div class="one-third column value" class="cube-name">
            <h3>Cube of relaxation</h3>  
          </div>
          <div class="one-third column value" class="cube-rating">
            <h3>***</h3>
          </div> 
        </div>

      </div> 
    </div>   

    <div class ="sub-header-section">
        <div class="container">
            <div class="row">       
                <div class="twelve columns">
                  <h2 class="title">Custom cubes</h2>
                </div>  
            </div>          
        </div>
    </div> 

    <div class="list-cubes blog-nav">
        <div class="container">
  
          <div class ="row">
            <div class="one-third column value" class="cube-image">
              <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
            </div>
            <div class="one-third column value" class="cube-name">
              <h3>Ginny's cube</h3>  
            </div>
            <div class="one-third column value" class="cube-rating">
              <h3>***</h3>
            </div> 
          </div> 
  
          <div class ="row">
            <div class="one-third column value" class="cube-image">
              <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
            </div>
            <div class="one-third column value" class="cube-name">
              <h3>Tom's cube</h3>  
            </div>
            <div class="one-third column value" class="cube-rating">
              <h3>***</h3>
            </div>
          </div>   
  
          <div class ="row">
            <div class="one-third column value" class="cube-image">
              <a href="./cubes/1"><a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a></a>
            </div>
            <div class="one-third column value" class="cube-name">
              <h3>Steve's cube</h3>  
            </div>
            <div class="one-third column value" class="cube-rating">
              <h3>***</h3>
            </div> 
          </div>
  
        </div> 
      </div>  


 
  </body>
</html>