
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href = "/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- <script src="pointless-square.js"></script> -->

  </head>
  
  <body>
    
    <div class="welcome-header-section">
      <div class="container">
        <div class="row">       
          <div class="twelve columns">
            <h1 class="title">Cube of Pointlessness</h1>
          </div>
        </div>
      </div>     
    </div>

    <div class="login-section">
      <div class="container">
        <div class ="row">
          <div class="one-third column value">
            <a class="button" href="./cubes">Choose a cube</a>
          </div>
          <div class="one-third column value">
            <a class="button" href="./users/new">Register user</a>  
          </div>
          <div class="one-third column value">
            <a class="button" href="./documentation">User documentation</a>   
          </div>
        </div>            
      </div>
    </div>  

 
  </body>
</html>