.welcome-header-section {
    margin-top: 20rem;
    font-family: 'Amatic SC', cursive;
}

.title {
    text-align: center;
}

.custom-cube-button {
    text-align: right;
}

.sub-header-section {
    margin-top: 6rem;
    font-family: 'Amatic SC', cursive;
}

.login-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.header-section {
    margin-top: 5rem;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 5rem;
}  

.footer-section {
    margin-top: 5rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.list-cubes {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    text-align: center   
}

.user-form-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;    
}

.cubecanvas {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blog-nav {
    /* background-color: rgb(230, 230, 230);
    color: white; */
    border-radius: 0.5rem;
    padding-left: 1rem;
    max-height: 150px;
    overflow: scroll;
}

.blog-nav::-webkit-scrollbar {
    width: .5em;
}
 
.blog-nav::-webkit-scrollbar-track:vertical {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.blog-nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

